{% extends "template_base.html" %}

{% block conteudo %}
</br>
  <div class="col-lg-12" style="text-align: right;">
    <a href="javascript:history.back()" class="btn btn-primary" role="button" aria-pressed="true">voltar</a>
  </div>
  <form method="POST" action="{{ url_for('criarJogo') }}">
    <fieldset>
      <div class="form-group">
        <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" class="form-control">
      </div>
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" id="categoria" name="categoria" class="form-control">
      </div>
      <div class="form-group">
        <label for="console">Console</label>
        <input type="text" id="console" name="console" class="form-control">
      </div><br>
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
  </form>
{% endblock%}
